SPIRE_ARGS=restart=true logging=all browser=chrome driver=/usr/bin/chromedriver headless=true automator=houser 'term=Fall 1886' '00-process=Late Fall Selection' '00-s2radio=building' '00-s2select=Kennedy' '00-s3radio=type' '00-s3select=Single' '00-s4radio=none'